In [1]:
import pandas as pd
#pandas will help to data importing and cleaning

In [2]:
df = pd.read_csv('Crop_recommendation.csv')
df.head(6)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5  69  37  42    23.058049  83.370118  7.073454  251.055000  rice

In [3]:
#if we need to drop any colum we can use
#df.drop(['colum name'], axis=1, inplace = True)
#here inplace true means we permently delete the column

In [4]:
df.isnull()

          N      P      K  temperature  humidity     ph  rainfall  label
0     False  False  False        False     False  False     False  False
1     False  False  False        False     False  False     False  False
2     False  False  False        False     False  False     False  False
3     False  False  False        False     False  False     False  False
4     False  False  False        False     False  False     False  False
...     ...    ...    ...          ...       ...    ...       ...    ...
2195  False  False  False        False     False  False     False  False
2196  False  False  False        False     False  False     False  False
2197  False  False  False        False     False  False     False  False
2198  False  False  False        False     False  False     False  False
2199  False  False  False        False     False  False     False  False

[2200 rows x 8 columns]

In [5]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
df['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [8]:
#here we are taking x is the all colum except label
x = df.drop('label', axis=1)
y = df['label']
# in x we have input and in y we have output

In [9]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 120.4 KB

In [10]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2200 entries, 0 to 2199
Series name: label
Non-Null Count  Dtype
--------------  -----
2200 non-null   object
dtypes: object(1)
memory usage: 17.3+ KB

In [11]:
#for train , test , split we use sklearn library
from sklearn.model_selection import train_test_split

C:\Users\RAMSHID NK\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state= 1, test_size = 0.2)
#random_state as the name suggests, is used for initializing the internal random number generator, which will decide the splitting of data into train and test indices
#test size means howmuch % of data is going for test

In [13]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1760 entries, 1863 to 1061
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            1760 non-null   int64
 1   P            1760 non-null   int64
 2   K            1760 non-null   int64
 3   temperature  1760 non-null   float64
 4   humidity     1760 non-null   float64
 5   ph           1760 non-null   float64
 6   rainfall     1760 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 110.0 KB

In [14]:
#now we are going to start logistic regression using sklearn linear model module

from sklearn.linear_model import LogisticRegression

In [15]:
model = LogisticRegression()
#now we have to train
model.fit(x_train, y_train)

C:\Users\RAMSHID NK\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
#now we are test the data and assign to a variable for comparison to y_test data
y_predict1 = model.predict(x_test)

In [17]:
# checking the accuracy 
from sklearn.metrics import accuracy_score
logistic_reg_acc1 = accuracy_score(y_test, y_predict1)
print("Logistic Accuracy is"+ str(logistic_reg_acc1))

Logistic Accuracy is0.9704545454545455

In [18]:
#now we are checking with decision tree
#from sklearn.tree import DecisionTreeClassifier
#model2 = DecisionTreeClassifier()
#model2.fit(x_train, y_train)
#y_predict2 = model2.predict(x_test)

In [19]:
#decision_tree_acc = accuracy_score(y_test,y_predict2)
#print("Decision Tree Accuracy is" + str(decision_tree_acc))

In [20]:
# now we are going to check random forest method
from sklearn.ensemble import RandomForestClassifier
model3 = RandomForestClassifier()
model3.fit(x_train, y_train)
y_predict3 = model3.predict(x_test)

In [21]:
random_forest_acc = accuracy_score(y_test, y_predict3)
print("Random FOrest Accuracy is"+ str(random_forest_acc))

Random FOrest Accuracy is0.9977272727272727

In [22]:
#so from above analysis we found that random forest method will gives the more accuracy

In [23]:
import joblib

In [24]:
filename = "Crop_app_rnk"

In [25]:
joblib.dump(model3, 'Crop_app_rnk')

['Crop_app_rnk']

In [26]:
app = joblib.load('Crop_app_rnk')

In [27]:
arr =[[74,35,40,26.491096,80.158363,6.980401,242.864034]]
acc = app.predict(arr)

C:\Users\RAMSHID NK\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [28]:
acc

array(['rice'], dtype=object)